

html{
  font-size: 1em;
  font-family: Arial, sans-serif;
  color: #A9A9A9
}
header{
  width:100%;
  display:table;
  background-color:#1BB8E0;
  margin-bottom:50px;

}
#nti{
  position: relative;
  margin: -13px -5px 0;
}
.banner{
  max-width: 400%;
  height: 60px;
  left: 0px;
  right: 0px;
}
nav{
  width:auto; float:left;
}
nav ul{
  display:table; float:left;
  list-style-type: none;
}
nav ul li{
  float:left;
}
nav ul li:last-child{
  padding-right:0px;
}
nav ul li a{
  color:#FFFFFF;
  font-size:34px;
  padding: 25px 25px;
  display:inline-block; transition: all 0.5s ease 0s;
  text-decoration: none;
}
nav ul li a:hover{
  background-color:#3C99DC;
  color:#FFFFFF;
  transition: all 0.5s ease 0s;
}
nav ul li a:hover i{
  color:#FFFFFF;
  transition: all 0.5s ease 0s;
}
nav ul li a i{
  color:#FFFFFF;
  transition: all 0.5s ease 0s;
}

main{
}

body{
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

footer{

}
form{
  width: 100%;
  padding: 2px;
  width: 505;
  height: 800px;
}
legend{
  color: black;
}
label{
  margin-right: 10px;
  color: Black;
}
#input{
  width: 80%;
  text-align: left;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background-color: #ddd;
  outline: none;
}
.column{
  float: left;
  width: 40%
}

button{float: }
