/* index.css */

html{
  font-size: 40px;
  font-family: Arial , sans-serif;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
  margin-left: auto;
  margin-right: auto;
  background-color: #dbe2ef;
  color: #112d4e;
  font-family: Arial,Helvetica,sans-serif;
}
nav ul li a {
  text-decoration: none;
  color: #FFF;
}
.navbar {
  font-size: 18px;
  background-color: #112d4e;
  padding-bottom: 10px;
  text-decoration: none;
}
.navbar-brand{
  max-width: 140px;
  margin-top: 5px;
}
.main-nav {
  list-style-type: none;
  display: none;
}
.bg{
  width: 100%;
  z-index: 0;
}
.container {
  position: relative;
  text-align: center;
  color: white;
}
.active {
  display: block;
}
.nav-links,
.logo{
  text-decoration: none;
  color:  #000;
}
.navbar-toggle {
    margin-top: 40px;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: rgba(255,255,255,0.8);
    font-size: 24px;
}
.main-nav li {
    text-align: center;
    margin: 15px auto;
}
.main-nav li a{
    color: #FFF;
}
.main-nav li a:hover{
    color: #3f72af;
    text-decoration:
}
.logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
}


h1{
  padding: 30px;
  font-size: 70px;
}
h2{
  padding: 30px;
  font-size: 30px;
}
p{
  padding: 30px;
}

footer{
  background-color:  #112d4e;
  text-align: center;
	font-size: 0.4em;
  padding: 10px;
}
@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
        padding: 15px;
    }

    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }

    .main-nav li {
        margin: 0;
        padding: 20px;
    }

    .nav-links {
        margin-left: 40px;
        color: #000;
    }

    .logo {
        margin-top: 0;
    }

    .navbar-toggle {
        display: none;
    }
    .nav-links:hover {
        color: #3f72af;
    }
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

